/*
.intro{
  margin-top: 100vh;
}

p.intro1{
  font-size: 55pt;
  /*width: 50vw;*/
  display: block;
  /*text-align: center;*/
  position: relative;
  /*transform: translateX(50%);*/
  line-height: 1.3em;
  width: 69vw;
  hyphens: none;
  left: 3vw;
}

p.intro2{
  padding-top: 2vh;
  font-size: 55pt;
  display: block;
  position: relative;
  line-height: 1.3em;
  width: 70vw;
  left: 18vw;
  hyphens: none;
}

p.intro3{
  font-size: 55pt;
  display: block;
  position: relative;
  line-height: 1.3em;
  width: 70vw;
  left: 23vw;
  hyphens: none;
}

p.intro4{
  padding-top: 3vh;
  font-size: 55pt;
  display: block;
  position: relative;
  line-height: 1.3em;
  width: 80vw;
  left: 2vw;
  hyphens: none;
  text-align: right;
}
p.intro5{
  font-size: 55pt;
  display: block;
  position: relative;
  line-height: 1.3em;
  width: 80vw;
  left: 18vw;
  hyphens: none;
}

sup{
  vertical-align: super;
  font-size: 17pt;
}
.auteur{
  font-size: 35pt;
  display: block;
  position: relative;
  line-height: 1.3em;
  text-align: right;
  right: 3vw;
  hyphens: none;
  padding-top: 5vh;
  margin-bottom: 100vh;
} */

/*ofMap function */
float ofMap(float value, float inputMin, float inputMax, float outputMin, float outputMax, bool clamp) {

	if (fabs(inputMin - inputMax) < FLT_EPSILON){
		return outputMin;
	} else {
		float outVal = ((value - inputMin) / (inputMax - inputMin) * (outputMax - outputMin) + outputMin);

		if( clamp ){
			if(outputMax < outputMin){
				if( outVal < outputMax )outVal = outputMax;
				else if( outVal > outputMin )outVal = outputMin;
			}else{
				if( outVal > outputMax )outVal = outputMax;
				else if( outVal < outputMin )outVal = outputMin;
			}
		}
		return outVal;
	}
