*, body{
  font-family: "gallique";
  hyphens: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  font-variant-ligatures: discretionary-ligatures;
}

h2{
  font-weight: normal;
  display: inline-block;
  border-top: 1px solid darkolivegreen;
  border-bottom: 1px solid darkolivegreen;
  /*border-radius: 50px;*/
  padding: 1vw;
  font-size: 1.8vw;
  margin-left: 4vw;
  margin-right: 4vw;
  text-shadow: 2px 2px 5px grey;
  color: darkolivegreen;
}

h2:hover{
  text-shadow: 2px 2px 3px darkolivegreen;
}
.button{
  text-align: center;
}

img{
  position: fixed;
  width: 28vw;
  margin: 0;
  left: 3vw;
  top: 3vw;
  transition: 0.7s;
}

.intro{
  color: darkolivegreen;
  opacity: 1;
  top: 4vh;
  left: 0;
  position: sticky;
  font-size: 1.7vw;
  /*background-color: orange;*/
  display: inline-block;
  transform: translate(0,50vh) translate(50vw,0) translate(-50%, -75%);
  margin-bottom: 71vh;
}

.intro > p {
  margin-bottom: 0.5vh;
}

#line2{
padding-left: 10vw;
}
#line3{
padding-left: 4vw;
}
#line4{
padding-left: 17.5vw;
}

.quote{
  position: relative;
  display: block;
  margin-top: 20vh;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  column-count: 2;
  column-gap: 3vw;
  padding: 1vw;
  margin-bottom: 15vh;
}

.quote > p{
  font-size: 1.3vw;
  line-height: 1.8vw;
  text-align: justify;
}
.borders{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.borders-green{
  border-top: 1px solid darkolivegreen;
  border-bottom: 1px solid darkolivegreen;
}
.quote > p.author{
  margin-top: 1.5vw;
  column-span: all;
  text-align: center;
}

p.question{
  font-size: 1vw;
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  margin-left: 60vw;
  margin-bottom: 40vh;
  /*background-color: yellow;*/
}

.wrapper, .wrapper2, .wrapper3{
  margin-left: 3vw;
  margin-right: 3vw;
  position: relative;
  margin-top: 10vh;
}

.wrapper3{
  margin-top: 30vh;
  margin-bottom:100vh;
}

.stickytest > #devl1, #devl2, #devl3, #devl4{
  font-size: 2vw;
  hyphens: none;
}

#devl1{
  margin-top: 15vh;
  margin-left: 15vw;
  padding-bottom: 48vh;
  position: -webkit-sticky;
  position: sticky;
  top: 35vh;
  /*background-color: blue;*/
  z-index: -1000;
}

#devl2{
  margin-left: 40vw;
  padding-bottom: 30vh;
  position: -webkit-sticky;
  position: sticky;
  top: 60vh;
  /*background-color: green;*/
  margin-top: -10vh;
}

#devl3{
  margin-left: 25vw;
  width: 55vw;
  padding-bottom: 10vh;
  position: -webkit-sticky;
  position: sticky;
  top: 75vh;
  /*background-color: brown;*/
}

.development-left, .development-right{
  display: block;
  width: 30vw;
  font-size: 1.4vw;
  hyphens: none;
  line-height: 1.9vw;
  /*background-color: orange;*/
}

.development-left{
  position: -webkit-sticky;
  position: sticky;
  top: 30vh;
  transform: translate(50%, 0);
}

.development-right{
  position: -webkit-sticky;
  position: sticky;
  top: 30vh;
  transform: translate(50vw, 0);
}

.development{
  margin-bottom: 9vh;
}
#final{
  width: 50vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*background-color: pink;*/
  transform: translate(0, -50%);
  color: darkolivegreen;
  hyphens: none;
  font-size: 1.7vw;
  line-height: 2.3vw;
}
.fin{
  display: inline;
  font-size: 1.4vw;
  hyphens: none;
  line-height: 1.9vw;
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;

}

.clock{
  width: 99vh;
  height: 99vh;
  border-radius: 50vh;
  position: sticky;
  display: inline;
  top: 0;
  left: 0;
  transform: translate(50vw, 50vh) translate(-50%, -50%);
  border-right: 1px solid rgb(255, 255, 255);
  /*background-color: green;*/
  opacity: 0;
  display: block;
  margin-bottom: -95vh;
}
.hand, .fhand{
  /*basic dimensions*/
  width: 1.2px;
  height: 30vh;
  border-radius: 5px;
  /*color of the hands*/
  background-color: grey;
  position: absolute; /*so they are all one above each other to start, which will make easier to place them on the clock after otherwise they are one after each other*/

  /*we need to place them on the clock now*/

  /*we decide that the bottom of the hand will be on the middle of the clock (because the top will rotate)*/
  bottom: 49vh; /* the height of the clock/2* /

  /*and that the left corner will be at the middle of the width */
  left: 49vh; /*the width of the clock/2*/

/*
  to rotate them we need a transformation
  transform: rotate(90deg);
  but doing only this will rotate the hands around themselves, around their own middle, not the clock middle aka the botton of the hand
*/

  /*so we need to transform their origin*/
  transform-origin: 50% 100%;
 /*as we want to rotate the hands continuously now, we will set the transform through js and thus, comment the transform line in css*/

}

.fakehour, .fakemin, .fakesec{
  background-color: lime;
  width: 0.2vh;
}

.min, .fakemin{
  /*a little bit longer*/
  height: 40vh;
}

.sec{
  /*longer and with a diff col*/
  height: 48vh;
  background-color: black;
}

.fakesec{
  height: 48vh;
}

@font-face {
  font-family: "gallique";
  src: url("./Gallique-Light.otf");
}
