*, body{
  font-family: "gallique";
  hyphens: auto;
  margin: 0;
  padding: 0;
}

img{
  position: fixed;
  width: 28vw;
  margin: 0;
  /* height: 100vh; */
  left: 3vw;
  top: 3vw;
}

.intro{
  color: darkolivegreen;
  opacity: 1;
  top: 0vh;
  left: 50vw;
  position: fixed;
  /*multiple transform one line directives are applied from right to left.*/
  transform: translate(0, 50vh) translate(-50%, -50%);
  font-size: 1.7vw;
}

.intro > p {
  margin-bottom: 0.5vh;
}

#line2{
padding-left: 10vw;
}
#line3{
padding-left: 4vw;
}
#line4{
padding-left: 17.5vw;
}

.quote{
  position: relative;
  display: block;
  margin-top: 100vh;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  column-count: 2;
  column-gap: 3vw;
  padding: 1vw;
  margin-bottom: 200vh;
}

.quote > p{
  font-size: 1.3vw;
  line-height: 1.8vw;
  text-align: justify;
}
.borders{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.quote > p.author{
  margin-top: 1.5vw;
  column-span: all;
  text-align: center;
}
.transparent{
  color: transparent;
}

.development{
  position: relative;
}

.clock{
  /*size of the clock*/
  width: 99vh;
  height: 99vh;
  /*bkgnd col of the clock*/
  /*background-color: none;*/
  /*border: solid 2px black;*/
  /*to make the square of the div a circle*/
  border-radius: 50vh;
  position: fixed;
  display: inline;
  top: 0;
  left: 0;
  transform: translate(50%, 0%);
  opacity: 0.2;
}
.hand, .fhand{
  /*basic dimensions*/
  width: 1.2px;
  height: 30vh;
  border-radius: 5px;
  /*color of the hands*/
  background-color: grey;
  position: absolute; /*so they are all one above each other to start, which will make easier to place them on the clock after otherwise they are one after each other*/

  /*we need to place them on the clock now*/

  /*we decide that the bottom of the hand will be on the middle of the clock (because the top will rotate)*/
  bottom: 49vh; /* the height of the clock/2* /

  /*and that the left corner will be at the middle of the width */
  left: 49vh; /*the width of the clock/2*/

/*
  to rotate them we need a transformation
  transform: rotate(90deg);
  but doing only this will rotate the hands around themselves, around their own middle, not the clock middle aka the botton of the hand
*/

  /*so we need to transform their origin*/
  transform-origin: 50% 100%;
 /*as we want to rotate the hands continuously now, we will set the transform through js and thus, comment the transform line in css*/

}

.fakehour, .fakemin, .fakesec{
  background-color: lime;
  width: 0.2vh;
}

.min, .fakemin{
  /*a little bit longer*/
  height: 40vh;
}

.sec{
  /*longer and with a diff col*/
  height: 48vh;
  background-color: black;
}

.fakesec{
  height: 48vh;
}

@font-face {
  font-family: "gallique";
  src: url("./Gallique-Light.otf");
}
