*, body{
  vertical-align: middle;
  font-family: "gallique";
  hyphens: auto;
  margin: 0;
  padding: 0;
}

h1{
  text-align: left;
  font-size: 120pt;
  position: fixed;
  width: 99vw;
  margin: 0;
  /* height: 100vh; */
  align-items: center;
  display: grid;
  margin-bottom: 50vh;
  line-height: 1em;
  font-weight: 500;
  left: 3vw;
  top: 3vh;
  margin-bottom: 110vh;
}

.intro{
  margin-top: 100vh;
}

p.intro1{
  font-size: 55pt;
  /*width: 50vw;*/
  display: block;
  /*text-align: center;*/
  position: relative;
  /*transform: translateX(50%);*/
  line-height: 1.3em;
  width: 69vw;
  hyphens: none;
  left: 3vw;
}

p.intro2{
  padding-top: 2vh;
  font-size: 55pt;
  display: block;
  position: relative;
  line-height: 1.3em;
  width: 70vw;
  left: 18vw;
  hyphens: none;
}

p.intro3{
  font-size: 55pt;
  display: block;
  position: relative;
  line-height: 1.3em;
  width: 70vw;
  left: 23vw;
  hyphens: none;
}

p.intro4{
  padding-top: 3vh;
  font-size: 55pt;
  display: block;
  position: relative;
  line-height: 1.3em;
  width: 80vw;
  left: 2vw;
  hyphens: none;
  text-align: right;
}
p.intro5{
  font-size: 55pt;
  display: block;
  position: relative;
  line-height: 1.3em;
  width: 80vw;
  left: 18vw;
  hyphens: none;
}

sup{
  vertical-align: super;
  font-size: 17pt;
}
.auteur{
  font-size: 35pt;
  display: block;
  position: relative;
  line-height: 1.3em;
  text-align: right;
  right: 3vw;
  hyphens: none;
  padding-top: 5vh;
  margin-bottom: 100vh;
}
.clock{
  /*size of the clock*/
  width: 99vh;
  height: 99vh;
  /*bkgnd col of the clock*/
  /*background-color: none;*/
  /*border: solid 2px black;*/
  /*to make the square of the div a circle*/
  border-radius: 50vh;
  position: fixed;
  display: inline;
  top: 0;
  left: 0;
  transform: translate(50%, 0%);
  opacity: 0.2;
}
.hand, .fhand{
  /*basic dimensions*/
  width: 1.2px;
  height: 30vh;
  border-radius: 5px;
  /*color of the hands*/
  background-color: grey;
  position: absolute; /*so they are all one above each other to start, which will make easier to place them on the clock after otherwise they are one after each other*/

  /*we need to place them on the clock now*/

  /*we decide that the bottom of the hand will be on the middle of the clock (because the top will rotate)*/
  bottom: 49vh; /* the height of the clock/2* /

  /*and that the left corner will be at the middle of the width */
  left: 49vh; /*the width of the clock/2*/

/*
  to rotate them we need a transformation
  transform: rotate(90deg);
  but doing only this will rotate the hands around themselves, around their own middle, not the clock middle aka the botton of the hand
*/

  /*so we need to transform their origin*/
  transform-origin: 50% 100%;
 /*as we want to rotate the hands continuously now, we will set the transform through js and thus, comment the transform line in css*/

}

.fakehour, .fakemin, .fakesec{
  background-color: lime;
  width: 0.2vh;
}

.min, .fakemin{
  /*a little bit longer*/
  height: 40vh;
}

.sec{
  /*longer and with a diff col*/
  height: 48vh;
  background-color: black;
}

.fakesec{
  height: 48vh;
}

@font-face {
  font-family: "gallique";
  src: url("./Gallique-Light.otf");
}
